<!DOCTYPE html>
<html lang="en">
  <%- include("./pages/Partial/header.ejs") %>

  <body class="d-flex flex-column min-vh-100 bg-slate-900 text-slate-200">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- title_code -->
          <%- include("./pages/Partial/title_code.ejs") %>

          <!-- copy_code -->

          <div
            class="flex justify-center items-center text-3xl mt-5 hidden"
            id="loading"
          >
            Loading...
          </div>
          <%- include("./pages/Partial/copy_code.ejs") %>

          <!-- recently_code -->
          <%- include("./pages/Partial/recently_code.ejs") %>

          <!-- <ul
            class="mt-4 flex justify-center text-center items-center text-lg py-3 bg-slate-700 text-slate-200 rounded-full"
          >
            <li class="flex-fill">Total Hits: <strong>3,692,859</strong></li>
            <li class="flex-fill">
              Total URLs: <strong>totalLinks</strong>
            </li>
            <li class="flex-fill">Total Limit Hits: <strong>2</strong></li>
          </ul> -->
        </div>
      </div>
    </div>

    <%- include("./pages/Partial/footer.ejs") %>

    <script type="text/javascript" src="js/clipboard.min.js"></script>
    <script type="text/javascript" src="script/InputValidation.js"></script>
    <script type="text/javascript" src="js/share42.js"></script>
    <script type="text/javascript" src="js/frontend8510.js?v=0.2"></script>
  </body>
</html>
